import /init.recovery.qcom_decrypt.rc

on init
    setprop prepdecrypt.loglevel 2

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    insmod /vendor/lib/modules/1.1/nova_0flash_mmi.ko
    start health-hal-2-1

on post-fs
    start boot-hal-1-1
